@use "variable" as *;


.wrapper {
    max-width: 1260px;
    width: 80%;
    margin: 0 auto;
}

button {
    background-color: $quaternary;
    margin: 10px 20px;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    transition: 0.3s;

    &:hover {
        background-color: $quaternary;
        color: $primary;
    }

    &:focus {
        background-color: $quaternary;
        color: $primary;
    }
}
