@use "variable" as *;

.home-header {
    background-image: url(../assets/header-image.jpg);
    background-size: cover;
    height: 70vh;
    background-position: top center;
    position: relative;

    h1 {
            position: absolute;
            left: 35%;
            bottom: 70px;
        }
}

.blog-header {
    background-image: url(../assets/blog-header.jpg);
    height: max(50vh, 450px);
    background-size: cover;
    background-position: top center;
}

.contact-header {
    background-image: url(../assets/contact-header.jpg);
    height: max(50vh, 450px);
    background-size: cover;
    background-position: top center;
}


