@use "variable" as *;

.home-header {
    background-image: url(../assets/header-image.jpg);
    background-size: cover;
    height: 70vh;
    background-position: top center;
    position: relative;

    h1 {
            position: absolute;
            left: 35%;
            bottom: 70px;
        }
}



