@use "variable" as *;

.nav-bar {
    height: 120px;
    width: 100%;
    margin: 10px 0 0;
    display: flex;
    justify-content: flex-end;

    ul {
        display: flex;
        justify-content: space-between;
        width: 40%;

        li {
            padding: 0 0 0 30px;
        }

            a {
                transition: 0.3s;
                &:hover,
                &:focus {
                    text-decoration: underline;
                    text-decoration-color: $quaternary;
                    text-decoration-thickness: 0.3rem;
                }
            }
    }
}