@use "./variable" as *;

html {
    font-size: 62.5%;
}

body {
    color: $primary;
    font-family: $bodyFont;
    font-weight: normal;
    font-size: 1.5rem;
    line-height: 3.2rem;
    
}

h1,
h2,
h3,
h4,
ul,
li,
button {
    font-family: $headingFont;
    font-weight: bold;
    font-style: italic;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
}