@use "variable" as *;

html {
    font-size: 62.5%;
}

body {
    color: $primary;
    font-family: $bodyFont;
    font-weight: normal;
    font-size: 1.5rem;
    line-height: 3.2rem;
    
}

h1,
h2,
h3,
h4,
ul,
li,
button {
    color: $primary;
    font-family: $headingFont;
    font-weight: bold;
    font-style: italic;
    // letter-spacing: 0.1rem;
    text-transform: uppercase;
    text-align: center;
}

h1 {
    font-size: 13.8rem;
    text-align: center;
}

h2 {
    font-size: 8rem;
    line-height: 9.2rem;
    text-align: center;
}

h3 {
    font-size: 4.2rem;
    letter-spacing: 0.1rem;
}

h4 {
    font-size: 3.2rem;
    letter-spacing: 0.1rem;
}

h5 {
    font-size: 2.6rem;
    letter-spacing: 0.11rem;
}

p {
    font-size: 2rem;
    line-height: 3.2rem;
}

ul,
li,
a {
    font-size: 2rem;
    line-height: 3.2rem;
    letter-spacing: 0.1rem;
    list-style: none;
    text-decoration: none;
}


button {
    font-size: 2rem;
    line-height: 3.2rem;
    letter-spacing: 0.1rem;
}

nav a {
    color: $primary;
    text-decoration: none;
}

footer p {
    color: $secondary;
    text-align: center;
}

