@charset "UTF-8";
html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  font-size: 62.5%;
}

body {
  color: #2C2C2C;
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  font-size: 1.5rem;
  line-height: 3.2rem;
}

h1,
h2,
h3,
h4,
ul,
li,
button {
  color: #2C2C2C;
  font-family: "Playfair Display", serif;
  font-weight: bold;
  font-style: italic;
  text-transform: uppercase;
  text-align: center;
}

h1 {
  font-size: 13.8rem;
  text-align: center;
}

h2 {
  font-size: 8rem;
  line-height: 9.2rem;
  text-align: center;
}

h3 {
  font-size: 4.2rem;
  letter-spacing: 0.1rem;
}

h4 {
  font-size: 3.2rem;
  letter-spacing: 0.1rem;
}

h5 {
  font-size: 2.6rem;
  letter-spacing: 0.11rem;
}

p {
  font-size: 2rem;
  line-height: 3.2rem;
}

ul,
li,
a {
  font-size: 2rem;
  line-height: 3.2rem;
  letter-spacing: 0.1rem;
  list-style: none;
  text-decoration: none;
}

button {
  font-size: 2rem;
  line-height: 3.2rem;
  letter-spacing: 0.1rem;
}

nav a {
  color: #2C2C2C;
  text-decoration: none;
}

footer p {
  color: #FAFAFA;
  text-align: center;
}

.wrapper {
  max-width: 1260px;
  width: 80%;
  margin: 0 auto;
}

button {
  background-color: #4CEEA7;
  margin: 10px 20px;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
button:hover {
  background-color: #4CEEA7;
  color: #2C2C2C;
}
button:focus {
  background-color: #4CEEA7;
  color: #2C2C2C;
}

.home-header {
  background-image: url(../assets/header-image.jpg);
  background-size: cover;
  height: 70vh;
  background-position: top center;
  position: relative;
}
.home-header h1 {
  position: absolute;
  left: 35%;
  bottom: 70px;
}

.blog-header {
  background-image: url(../assets/blog-header.jpg);
  height: max(50vh, 450px);
  background-size: cover;
  background-position: top center;
}

.contact-header {
  background-image: url(../assets/contact-header.jpg);
  height: max(50vh, 450px);
  background-size: cover;
  background-position: top center;
}

.nav-bar {
  height: 120px;
  width: 100%;
  margin: 10px 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.nav-bar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 40%;
}
.nav-bar ul li {
  padding: 0 0 0 30px;
}
.nav-bar ul a {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.nav-bar ul a:hover, .nav-bar ul a:focus {
  text-decoration: underline;
  -webkit-text-decoration-color: #4CEEA7;
          text-decoration-color: #4CEEA7;
  text-decoration-thickness: 0.3rem;
}

footer {
  width: 100%;
  background-color: #2C2C2C;
}

footer p {
  margin: 0;
  padding: 10px;
}

.about {
  background-color: #EFFDF3;
}
.about .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

h3 {
  padding-top: 60px;
}

p {
  padding-bottom: 20px;
}

.about-text-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.about-text-container button {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 150px;
}

.blog-posts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 50px 0px 0 0;
}
.blog-posts .blog-text-container {
  width: 50%;
  -ms-flex-item-align: center;
      align-self: center;
  padding: 0% 5% 2% 5%;
}
.blog-posts .blog-text-container button {
  margin-top: 8%;
}
.blog-posts .blog-image-container {
  width: 50%;
}

.top-blog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin: 0 auto;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}
.top-blog .first-blog-image {
  width: 50%;
  position: relative;
}
.top-blog .first-blog-image img {
  max-width: 85%;
  position: absolute;
  left: 0;
  bottom: 20px;
  -webkit-box-shadow: 32px 32px 0px -13px #FDFA69;
          box-shadow: 32px 32px 0px -13px #FDFA69;
}
.top-blog .first-blog-text h4 {
  text-align: left;
}

.bottom-blog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  margin: 0 auto;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}
.bottom-blog .second-blog-image {
  width: 50%;
  position: relative;
}
.bottom-blog .second-blog-image img {
  max-width: 85%;
  position: absolute;
  top: 4opx;
  right: 0;
  -webkit-box-shadow: -29px 29px 0px -10px #FDFA69;
          box-shadow: -29px 29px 0px -10px #FDFA69;
  z-index: 1000;
}
.bottom-blog .second-blog-text {
  width: 50%;
  text-align: right;
  -ms-flex-item-align: center;
      align-self: center;
  padding: 0% 5% 2% 5%;
}
.bottom-blog .second-blog-text h4 {
  text-align: right;
}
.bottom-blog .second-blog-text button {
  margin-top: 8%;
}

.third-section {
  background-color: #EFFDF3;
  margin: 80px auto;
}
.third-section .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}
.third-section .wrapper ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.third-section .wrapper li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: baseline;
      -ms-flex-pack: baseline;
          justify-content: baseline;
  width: calc(50% - 17px);
  margin: 15px 15px 15px 0px;
}
.third-section .wrapper h4 {
  text-align: left;
  padding-left: 20px;
}
.third-section .wrapper p {
  color: #2C2C2C;
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 1.5rem;
  line-height: 3.2rem;
  text-transform: none;
  text-align: left;
  padding-left: 20px;
}

.icons-container {
  background-color: #4CEEA7;
  height: 45px;
  width: 85px;
  border-radius: 50%;
  padding-top: 5px;
  margin-top: 40px;
}

.banner img {
  width: 100%;
  height: max(45vh, 400px);
  -o-object-fit: cover;
     object-fit: cover;
}

.monthly-profile {
  background-color: #EFFDF3;
}
.monthly-profile .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.monthly-profile .wrapper .profile-image-container img {
  -webkit-box-shadow: 32px 32px 0px -13px #FDFA69;
          box-shadow: 32px 32px 0px -13px #FDFA69;
}
.monthly-profile .wrapper .profile-text-container {
  -ms-flex-preferred-size: 65%;
      flex-basis: 65%;
}
.monthly-profile .wrapper .profile-text-container h3 {
  text-align: left;
}
.monthly-profile .wrapper .profile-text-container button {
  margin: 40px auto;
}

.gallery .gallery-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.gallery .gallery-container ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 0;
  margin: 80px auto;
}
.gallery .gallery-container ul li {
  margin: 0 20px;
}

main {
  background-color: #EFFDF3;
}

.blog-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

article {
  width: 95%;
  -webkit-transform: translate(0px, -80px);
          transform: translate(0px, -80px);
  margin-bottom: -80px;
}
article .blog-image-container {
  margin-left: 10%;
}
article .blog-text-container {
  padding-right: 50px;
  padding-top: 50px;
  padding-bottom: 30px;
}
article .blog-text-container h2 {
  text-align: left;
}

.border {
  border-left: 5px solid #FDFA69;
  border-bottom: 5px solid #FDFA69;
  padding-left: 5%;
}

.article-comment {
  width: 60%;
}

aside {
  width: 40%;
  padding-top: 5%;
}

.aside-text-container {
  background-color: #FAFAFA;
  margin-right: 20%;
  margin-left: 15%;
  padding-top: 10%;
  padding-right: 5%;
  padding-bottom: 10%;
}
.aside-text-container h4 {
  text-align: left;
  padding-left: 2%;
  margin-bottom: auto;
}
.aside-text-container p {
  padding-top: 5%;
  padding-left: 5%;
}

.aside-recent-posts-text-container ul,
.aside-recent-posts-text-container li {
  color: #2C2C2C;
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  font-style: normal;
  line-height: 3.2rem;
  text-transform: none;
  text-align: left;
}
.aside-recent-posts-text-container li::before {
  content: "• ";
  color: #4CEEA7;
}

.comment-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-preferred-size: 60%;
      flex-basis: 60%;
}
.comment-section h3 {
  padding-top: 15px;
  padding-bottom: 15px;
}
.comment-section p {
  padding-right: 25%;
}
.comment-section img {
  padding-top: 27px;
  padding-right: 45px;
}
.comment-section .comment-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.comment-section .comment-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 70px;
}

.comment-form {
  padding: 60px 60px 0px 60px;
  margin: 0px;
}
.comment-form .username-email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.comment-form .username-email input {
  background-color: #EFFDF3;
}
.comment-form .username-email input[type=text], .comment-form .username-email input[type=email] {
  height: 50px;
  width: 50%;
  border: none;
  border-bottom: 2px solid #4CEEA7;
  padding: 30px 25px;
}
.comment-form .username-email input[type=text]::-webkit-input-placeholder, .comment-form .username-email input[type=email]::-webkit-input-placeholder {
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
  line-height: 32px;
  letter-spacing: 2px;
}
.comment-form .username-email input[type=text]::-moz-placeholder, .comment-form .username-email input[type=email]::-moz-placeholder {
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
  line-height: 32px;
  letter-spacing: 2px;
}
.comment-form .username-email input[type=text]:-ms-input-placeholder, .comment-form .username-email input[type=email]:-ms-input-placeholder {
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
  line-height: 32px;
  letter-spacing: 2px;
}
.comment-form .username-email input[type=text]::-ms-input-placeholder, .comment-form .username-email input[type=email]::-ms-input-placeholder {
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
  line-height: 32px;
  letter-spacing: 2px;
}
.comment-form .username-email input[type=text]::placeholder, .comment-form .username-email input[type=email]::placeholder {
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
  line-height: 32px;
  letter-spacing: 2px;
}
.comment-form .username-email input[type=text]:focus, .comment-form .username-email input[type=email]:focus {
  outline: none;
}
.comment-form .username-email input[type=text] {
  margin-right: 10px;
}
.comment-form .username-email input[type=email] {
  margin-left: 10px;
}
.comment-form .comment textarea {
  background-color: #EFFDF3;
  resize: none;
  border: none;
  width: 100%;
  border: 2px solid #4CEEA7;
  padding: 30px 25px;
  margin-top: 50px;
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
  line-height: 32px;
  letter-spacing: 2px;
}
.comment-form .comment textarea::-webkit-input-placeholder {
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
  line-height: 32px;
  letter-spacing: 2px;
}
.comment-form .comment textarea::-moz-placeholder {
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
  line-height: 32px;
  letter-spacing: 2px;
}
.comment-form .comment textarea:-ms-input-placeholder {
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
  line-height: 32px;
  letter-spacing: 2px;
}
.comment-form .comment textarea::-ms-input-placeholder {
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
  line-height: 32px;
  letter-spacing: 2px;
}
.comment-form .comment textarea::placeholder {
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
  line-height: 32px;
  letter-spacing: 2px;
}
.comment-form .comment textarea:focus {
  outline: none;
}
.comment-form button {
  padding: 8px 0;
  margin: 50px 0;
  border: 2px solid #4CEEA7;
  width: 100%;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.comment-form button:hover, .comment-form button:focus {
  background-color: #EFFDF3;
}